*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    color: #670017;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(/assects/school.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100vw;
    height: 85vh;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    position: relative;
}

li{list-style: none;}

a{text-decoration: none;  color: #FFFFFF;}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul{display: flex;}

header ul li{margin: 35px 101px 194px 30px;}

header .segunda li{margin: 35px 101px 194px 116px;}

header .logo{position: absolute; top: 3vh;}

header .title{text-align: center;}

header .title div{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

header .title h1{
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 74px;
}

header .title p{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

header .title button{

    width: 237px;
    height: 51px;
    border: none;
    margin-top: 73px;

    background: #131313;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.first{

    background: #670017;
    color: white;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;

}

.first h1{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    padding: 30px 0;
}

.first nav ul{
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
}



.first nav ul button{
    width: 199px;
    height: 38px;
    background: #FFFFFF;
    color: #670017;
    border: none;

}

.first nav ul li{margin-right: 17px;}

.first nav ul .active{
    border: 3px solid #FFFFFF;
    background-color: #670017;
    color: white;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .show p{
    height: 263px;
    width: 580px;
    text-align: justify;
    padding: 60px 20px;
}

.first .show p span{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.second{
   
    padding: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.second h2{
    font-size: 30px;
    line-height: 49px;

    margin: 17px auto 17px auto;
}

.second p{
    width: 440px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;

}

.second button{
    border: 3px solid #670017;
    color: #670017;
    border-radius: 60px;
    width: 223px;
    height: 61px;
    margin-top: 61px;
    font-weight: bold;
    background-color: white;
   
}

video{
    background: linear-gradient(0deg, rgba(103, 0, 23, 0.3), rgba(103, 0, 23, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    border-radius: 100px;
    width: 489.6px;
    height: 337,5px;
}

.third{
    background-color: rgba(103, 0, 23, 1);
    color: white;
    padding: 100px;
}

.third .title h1{
    font-size: 50px;
    line-height: 87px;
    height: 87px;
}

.third .title{
    display: flex;
    justify-content: space-evenly;
    

}

.third .title .bord{
    width: 608px;
    font-weight: bold;
    font-size: 19px;
    line-height: 33px;
    margin-top: 20px;
}

.third .title .normal{
    width: 709px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}