*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    color: #670017;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(/assects/school.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;

    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    text-align: center;
}

li{list-style: none;}

a{text-decoration: none;  color: #FFFFFF;}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

header .Menu{
    display: none;
}

header nav ul{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header .logo{margin-top: 60px; }

header .barMenu{ display: none;}

header .title{
    text-align: center;
    margin-top: calc(50vh - 190px);

}

header .title div{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 21px;
}

header .title h1{
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 25px;
}

header .title p{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

header .title button, header .title button a{

    width: 237px;
    height: 51px;
    border: none;
    margin-top: 73px;

    background: #131313;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

header .arrow{margin-top: 10vh;}

.first{

    background: #670017;
    color: white;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    padding-bottom: 80px;

}

.first h1{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    padding: 30px 0;
}

.first nav ul{
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
}

.first nav{margin: auto;}

.first nav ul button{
    width: 199px;
    height: 38px;
    background: #FFFFFF;
    color: #670017;
    border: none;

}

.first nav ul li{margin-right: 17px;}

.first nav ul .active {
    border: 3px solid #FFFFFF;
    background-color: #670017;
    color: white;
}

.show{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 855px;
}

.first .show p{
    height: 263px;
    width: 580px;
    text-align: justify;
    padding: 60px 20px;
}

.first .show .anuncioText {
    padding: 10px 20px;
}

.first .show p a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
}

.first .show p a img{margin-left: 20px;}

.first .show .imgPri{border: 5px solid white; object-fit: cover;}

.second{
   
    padding: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.second h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.second h2{
    font-size: 30px;
    line-height: 49px;

    margin: 17px auto 17px auto;
}

.second p{
    width: 440px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;

}

.second button{
    border: 3px solid #670017;
    color: #670017;
    border-radius: 60px;
    width: 223px;
    height: 61px;
    margin-top: 61px;
    font-weight: bold;
    background-color: white;
   
}

.second button a{color: #670017;}

video{
    background: linear-gradient(0deg, rgba(103, 0, 23, 0.3), rgba(103, 0, 23, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    border-radius: 100px;
    width: 489.6px;
    height: 337,5px;
}

.video{
    background: linear-gradient(0deg, rgba(103, 0, 23, 0.3), rgba(103, 0, 23, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    position: absolute;
    height: 328px;
    width: 489.6px;
    top: 155px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third{
    background-color: rgba(103, 0, 23, 1);
    color: white;
    padding: 100px;
}

.third .title h1{
    font-size: 50px;
    line-height: 87px;
    height: 87px;
}

.third .title{
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    
}

.third .title .bord{
    width: 600;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-top: 20px;
}

.third .title .normal{
    width: 709px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}

.third .title button{
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    width: 195px;
    height: 61px;
    margin: 58px 0 64px 0;
    color: white;
    background-color: #670017;
}

.containercarrosel {
    display: flex;
    flex-direction: column;
    align-items: end;

    overflow: hidden;
    max-width: 1312px;
    margin: auto;
}

.containercarrosel .container-image img{
    height: 260px;
    width: 400px;
    object-fit: cover;
}

.containerCarrosel .button{
    text-align: end;
    margin-top: 45px;
}

.containercarrosel .button .left{
    transform: rotate(180deg);
    margin-right: 64px;
    
    cursor: pointer;
}

.containercarrosel .button button {
    background-color: transparent;
    outline: none;
    border: none;   
}


.third .projetos{
    margin-left: 1010px;
}

.third .projetos .tituloPro{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}

.third .projetos .text{width: 280px;}


.third .projetos .saiba{
    font-weight: bold;
    cursor: pointer;
}

.third .projetos img{
    margin: 39px 0 8px 0;
}

.third .projetos ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: justify;
    align-items:baseline;
    margin: 109px 0 63px 0;
    
}

.third .projetos ul li{
    margin-right: 76px;
}

.third ul li div img{
    margin-bottom: 8px;
}

.events{
    height: 1200px;
    padding: 110px 186px 110px 186px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    color: black;
    overflow: hidden;
}

.events .Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    width: 1062px;
    margin: auto;
}

.events .Title h1{
    font-size: 64px;
    line-height: 87px;
}

.Title #Todos {
    cursor: pointer;
}

.events .Title button{
    width: 125px;
    height: 51px;
    border: 2px solid #3E3E3E;
    border-radius: 100px;
    background-color: white;
}

.events .eventos{
    height: 272px;
    width: 1062px;
    border: 2px solid #CCCCCC;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 47px auto 0 auto;
    
}

.events .eventos .descricao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 25px 0 14px; 
}

.events .eventos .descricao img{
    width: 225px;
    height: 146px;
    object-fit: cover;
}

.events .eventos img{
    width: 225px;
    height: 146px;
    
}

.events .eventos .date{
    display: flex;
    flex-direction: column;
    width: 150px;
    
}

.events .eventos .date .dia{
    
    color: #670017;
    text-align: center;
    font-size: 64px;
    line-height: 87px;
}

.events .eventos .date .mes{
    
    font-size: 28px;
    line-height: 38px;
    text-align: right;
}

.events .eventos .date .diaS{
    text-align: right;   
    font-size: 18px;
    line-height: 25px;
}


.events .eventos .descricao p{
    width: 318px;
    height: 99px;
    margin-left: 31px;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
}

.events .eventos .detalhes{text-align: center;}

.events .eventos .detalhes .horas{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.events .eventos .detalhes .classificacao{
    
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    
}

.events .eventos .detalhes button{
    width: 125px;
    height: 51px;
    border: 2px solid #3E3E3E;
    border-radius: 100px;
    margin-top: 37px;
    margin-right: 42px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.events .textoCompleto{
    display: none;
    margin-left: 30px;
    max-width: 890px;
}

footer{
    background: #670017;
    color: white;
    
    
}

footer .superior image {
    width: 94px;
    height: 63px;
    
}


footer .superior{
    height: 186px;
    border-bottom: white solid 2px;
    /* width: 98.79vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 64px 87px 59px 98px;
}

footer .superior ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
 
}

footer .inferior{
    
    padding: 45px 0 61px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

footer .inferior p{
    margin-bottom: 20px;
    text-align: center;
}

footer .inferior #dev{
    text-align: end;
    padding-left: 82vw;
    font-size: small;   
    
}

.containerCarrosel {
    position: relative;
    padding: 15px;
    
    margin: 0 auto;
    max-width: 1395px;
}

.items {
    height: 260px;
    max-width: 400px;
    margin: 0 10px;
    flex-shrink: 0;
    object-fit: cover;
}
.containerCarrosel .button button {
    background-color: transparent;
    border: none;
}

.containerCarrosel .button button .left{
    transform: rotate(180deg);
    margin-right: 64px;
}

.glider-dots {
    display: none;
}