header{
    background-image: url(./assects/sobre/capa.png);
}

header .title h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 74px;
}

header .title h1 span{
    color: #670017;
}

header .title p{
    width: 658px;
    margin: auto;
}

header .arrow{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: auto;
}

.fristAbout{
    color: white;
    background-color: #670017;
    height: 830px;
    position: relative;
    width: 100%;
    /* display: flex; */
}



.fristAbout .vertical{
    background-color: #910020;
    height: 830px;
    width: 259px;
    margin: 0 19px 0 50px;
    font-family: Oswald;
    
    position: absolute;
    left: 0px;
    top: 0;
}

.fristAbout .horizontal .campo{
    margin-left: 330px;
}

.fristAbout .vertical .para{
    height: 54px;
    margin: 58px 32px 78px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.fristAbout .vertical .base{
    width: 207px;
    margin: 28px 32px 38px 20px;
}

.fristAbout .vertical .base h2{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;

}

.fristAbout .vertical .base p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.fristAbout .vertical .robotica h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 71px;
}

.fristAbout .horizontal .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 330px;
}

.fristAbout .horizontal h2{
    margin-left: 42vh;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 53px;
    
    padding: 103px 0 64px 0;
}

.fristAbout .horizontal .card{
    width: 315px;
    height: 532px;
    margin-right: 20px;
    background-color: #910020;
}

.fristAbout .horizontal .card p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    width: 300px;

    line-height: 27px;
    margin: 26px 17px;
}

.fristAbout .horizontal .card div{
    width: 280px;
    height: 195px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    
    padding: 0 17px 0 21px;
    
}

.fristAbout .horizontal .card div span{
    font-weight: bold;
}

.salaInvertida{
    height: 812px;
    color: #3E3E3E;
}

.salaInvertida .containerflex{
    display: flex;
    justify-content: space-evenly;
}

.salaInvertida h1{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    margin: 64px auto 100px auto;
}

.salaInvertida h1 span{
    background: #3E3E3E;
    color: white;

    font-weight: 300;
    padding: 7px;
}

.salaInvertida .card{
    width: 434px;
    height: 397px;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
}

.salaInvertida .trad h3, .salaInvertida .inverti h3 {
    text-align: center;
    margin-top: 37px;
}

.salaInvertida .descri{
    width: 349px;
    margin: 0px auto 62px auto;
}

.salaInvertida .black{
    background: #3E3E3E;
    color: white;
}

.salaInvertida .resumo{
    height: 170px;
    padding: 30px 43px;
    margin: auto;
}

.salaInvertida .resumo h4{
    margin-bottom: 11px;
}

.salaInvertida .containerflex .inverti{
    background: #3E3E3E;
    color: white;
}

.salaInvertida .containerflex .card .white{
    background-color: white;
    color: #3E3E3E;
}

.salaInvertida .card .lineblack{
    width: 349px;
    height: 1px;
    margin: 28px auto 23px auto;
    border: black 1px solid;
}

.salaInvertida .card .linewhite{
    width: 349px;
    height: 1px;
    margin: 28px auto 23px auto;
    border: white 1px solid;
}

.educacao{
    height: 1020px;
    background: #EBEBEB;
    color: #3E3E3E;
    /* padding: 130px 113px 117px 186px; */
}

.educacao h1{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    padding: 130px 113px 117px 186px;
}

.educacao .containerEduca{
    width: 1193px;
    margin-left: 140px;
    display: flex;    
    align-items: flex-end;
    justify-content: space-evenly;
}

/* .educacao ul{
    height: 400px;
} */

.educacao li{
    padding: 23px auto auto 32px;
}

.educacao li .linha{
    border: #ACACAC 1px solid;
    border-left: none;
    border-right: none;
    width: 700px;
}

.educacao .teste{
    display: flex;   
    align-items: center;
}

.educacao .teste .Click{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
}

.educacao .teste .numeros{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;

    margin-right: 90px;
    
}

.educacao ul li .Detalhes{
    width: 700px;
    display: none;
    height: 213px;
    margin: 19px auto 20px auto;
}

.educacao ul li .Detalhes span{
    font-weight: bold;
}